
html {
  scroll-behavior: smooth;
}
.custom-nav {
    height: 60px;
  background-color: #fcfcfc !important;
  padding: 10px 0;
}

.nav-logo {
  height: 150px;
  margin-left: -60px;
}

.nav-link {
  font-weight: 500;
  color: #1b1b1b !important;
}
.nav-link:hover {
  color: #0056b3 !important;
  text-decoration: underline 2px black;
}
.sign-up-btn {
  padding: 10px 14px;
  background-color: #0077b6;
  color: white !important;
  border-radius: 6px;
  font-weight: 600;
  margin-right: -70px;
  text-decoration: none;
  transition: 0.3s ease;
}

.sign-up-btn:hover {
  background-color: #005a8f;
}

@media(max-width: 768px) {
  .nav-logo {
    height: 40px;
  }
}
.hero-slide {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.55);
}
.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
}
.carousel-caption p {
  font-size: 18px;
  margin-bottom: 20px;
}
.carousel-indicators button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.second-section {
  background-color: #eaeaeb;
  height: 750px;
  padding: 100px;
}
.second-section p {
  font-size: 2.8rem;
  line-height: 1.4;
}
.feature-list {
  list-style: none;
  padding: 0;
  margin-top: 30px;
  line-height: 2.1;
  font-size: 24px;
}
#featureCarousel img {
  object-fit: cover;
  height: 350px;
}
@media(max-width: 768px) {
  #featureCarousel img {
    height: 250px;
  }
}
.about-section {
  background-color: #eaeaeb;
}
.about-title {
  color: #1a1a1a;
  font-size: 2.4rem;
}
.about-card {
  max-width: 900px;
  background: white;
  border-radius: 24px;
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.9);
}
.about-text {
  font-size: 1rem;
  line-height: 1.8;
  color: #424242;
}
.about-text strong {
  color: #112d4e;
}
.footer-section {
  height: 90px; /* fits 80px logo */
  background-color: #697179;
  color: #f1f1f1;
  display: flex;
  overflow-y: hidden;
  align-items: center;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer-logo {
  height: 100px;   /* final height */
  opacity: 0.9;
  transition: 0.3s;
}
.footer-logo:hover {
  opacity: 1;
}
.footer-link {
  color: #eaeaea;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
}
.footer-link:hover {
  color: #ffffff;
}
.footer-signup {
  padding: 6px 16px;
  background-color: #0077b6;
  color: white !important;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}
.footer-signup:hover {
  background-color: #005a8f;
}
@media(max-width: 768px) {
  .footer-wrapper {
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    height: 90px;
  }
  .footer-right {
    gap: 12px;
  }
}